<div id="agent_tabs" class="itabs ui-tabs ui-widget ui-widget-content ui-corner-all">
    <div style="margin:5px;border:solid 1px #ABABAB;border-radius:5px;padding:4px 15px;line-height:34px;">
      
      交易组：<select id="group" name="group">
        <{foreach from=$group item=item key=key}>
          <option value="<{$key}>"><{$item}></option>
         <{/foreach}>
      </select>

        <input type="button" class="gbutton" onclick="_online();" value="搜索">
    </div>
    
    <div id="total" style="margin:0 5px;"></div>
</div>
<script language="javascript">
    function _online(){
        var group = $('#group').val();
        $.post('admin.php?ctrl=dealgroup&act=deal_data' , {'group':group} , function(html){
            $('#total').html(html);
        });
    }
    _online();
</script>