
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <form action="" class="fm" id="group-add-form">
       
        <table class="itable itable-color">
            <tbody>
                <tr>
                    <td>类型</td>
                    <td>
                        <select name="type">
                            <option value="1"> &nbsp; 开启&nbsp;  </option>
                            <option value="2"> &nbsp; 关闭 &nbsp; </option>
                        </select>
                    </td>
                </tr>

                <!-- 主要用于进行一个颜色错位 -->
                <tr ></tr> 
                <!-- 主要用于进行一个颜色错位 -->
                
                <!-- 服务器, 渠道 Start -->
                <{include file='../plugin/channelGroup_server.tpl' }>
                <!-- 服务器，  -->
    
                <tr>
                    <td colspan="2"><input type="button" class="gbutton" value="提交"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/javascript">
 $(function(){

    $('.gbutton').click(function(){

        $.post('admin.php?ctrl=dealgroup&act=trade_action',$('#group-add-form').serialize() , function(data){

            $.dialog.tips(data);

        });
    });
});
  

</script>