

<div style="padding:0 12px; padding-bottom:10px; margin:6px 0; border: solid 1px #ABABAB;border-radius: 5px;background: #FAFAFA;">
  <table border="0" id="baseinfo" style="text-align:center">
     <tr>
        <th >物品ID</th>
        <th >物品名称</th>
        <th >数量</th>
    </tr>
   
    <{foreach from=$info item=item}>
     <tr class="odd">
     <td><{$item.item_id}></td>
     <td><{$item.item}></td>
    <td><{$item.count}></td>
    </tr>
    <{/foreach}>
  </table>
</div>
