<div id="menu_main_tabs" class="itabs">
  <ul>
    <li><a href="admin.php?ctrl=menu&act=index&type=tree">中央服菜单</a></li>
    <li><a href="admin.php?ctrl=menu&act=index&type=leaf">单服菜单</a></li>
  </ul>
  <div id="tabs-1"> </div>
</div>
<script type="text/javascript">
var $menu_main_tabs = $("#menu_main_tabs").tabs();
</script>