.page-header {
	margin-top: 0
}
#version {
	float: left;
	margin: 37px 0 0 10px
}
.share-github {
	float: left;
	margin-right: 10px
}
.demo-content > h4 {
	margin-top: 25px
}
.modal-demo {
	padding:20px 0 10px 0;
	background-color: #FFF;
	width: 900px;
	border: #AAA solid 1px;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px black;
	text-align: left;
	display: none
}
.modal-demo .title-text {
	padding: 10px 20px 10px 20px;
	line-height: 18px;
	font-size: 18px
}
.text{
	margin: 0 20px 20px 20px;
}
.close {
	position: absolute;
	top: 10px;
	right: 15px;
	background: #fff;
	border:none;
	padding: 2px 5px;
}
.close:hover {
	background: #F3F3F3;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px
}
.bs-callout > h4, .bs-callout-support {
	margin-top: 0
}
.bs-callout:not(.bs-callout-support) > p:last-of-type {
	margin-bottom: 0
}
.bs-callout-info {
	border-left-color: #D9EDF7
}
#forkme {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2
}
#custompopover {
	width: 265px
}
.table-popover:not(.table-methods) > tbody > tr:hover td {
	background-color: #D9EDF7
}
.footer {
	font-size: 11px;
	text-align: center;
	padding-bottom: 20px
}
.download {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal
}
#gitfork {
	display: none
}
.tab-content-demo {
	overflow: auto
}
@media only screen and (max-device-width:480px) {
	#forkme, #custompopover {
		display: none
	}
	#gitfork {
		display: block
	}
}
.modal-demo .infinite {
	display: none;
	position: absolute;
	top: 10px;
	right: 45px
}
.toolTips {
	text-align: right;
	height: 40px;
}
.toolTips div {
	display: inline-block;
	margin-left: 30px
}
.toolTips ul {
}
.tabs-content {
	width: 640px;
	height: 500px;
	overflow-y: scroll
}
.toolTips .toolTips-range{
	/*float: left;*/
}
.toolTips .toolTips-select a {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #222;
	padding: 3px
}
.toolTips .toolTips-select a:hover {
	background-color: #ccc
}
.modal-demo .toolTips ul li {
	display: inline-block;
	margin: 4px
}
.modal-demo .ui-tabs-panel ul {
	margin: 0px;
	padding: 0px
}
.modal-demo .ui-tabs-panel ul li {
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden
}
.modal-demo .select {
	background-color: #DCD8D8
}
.lid{
	display: none;
}