<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <form action="admin.php?ctrl=ce&act=prev20Export" method="post" class="fm" id="cgroup-edit-form">
        <table class="itable itable-color">
            <{include file='../plugin/channelGroup_server.tpl' }>
            <tr>
                <td>
                    排名前
                </td>
                <td>
                    <input type="number" value="20" name="list_num">
                </td>
            </tr>
            <tr>
                <td>
                    开始时间
                </td>
                <td>
                    <input name="start_date" type="text" class="datepicker">
                </td>
            </tr>
            <tr>
                <td>
                    结束时间
                </td>
                <td>
                    <input name="end_date" type="text" class="datepicker">
                </td>
            </tr>
        </table>
        <input type="submit" class="gbutton export-btn" value="导出">
    </form>
</div>

<script>
    //使用时间
    $('.datepicker').datepicker();
    //激发导出事件
    /*$(".export-btn").bind('click',function(){
        $.ajax({
            type:'POST',
            url:'admin.php?ctrl=ce&act=prev20Export',
            dateType:'JSON',
            data:$("#cgroup-edit-form").serialize(),
            beforeSend:function(){
                $(".export-btn").attr('disabled','disabled');
            },
            complete:function(data){
                $(".export-btn").removeAttr('disabled');
            }
        })
    })*/
</script>