<div id="agent_tabs" class="itabs ui-tabs ui-widget ui-widget-content ui-corner-all">



    <table class="itable itable-color">

        <tbody >
        <!-- 主要用于进行一个颜色错位 -->
        <tr></tr>
        <!-- 主要用于进行一个颜色错位 -->

        <!-- 服务器, 渠道 Start -->
        <{include file='../plugin/server_single.tpl' }>
        <!-- 服务器，  -->

        <tr class='p-tr'>
            <td>日期：</td>
            <td> <input type="text" name="date" id="date" class="datepicker" style=" width:120px;"></td>
        </tr>

        <tr>
            <td>
                <input type="button" class="gbutton" value="查询" id="check">
                <input type="button" class="gbutton" value="停止刷新" id="stop">
            </td>

            <td>
                <input type="button" class="gbutton" value="导出" id="export">
            </td>
        </tr>
        </tbody>

    </table>

    <div style="background-color: #DDEDF4; height:50px; line-height:50px; display:none" id="hour">

    </div>


    <div id="contents" style="margin-top: 10px;" class="ui-tabs ui-widget ui-widget-content ui-corner-all ">
        <table>
            <thead>
            <tr>
                <th>服务器</th>
                <th>时间</th>
                <th>平台新增跳转数</th>
                <th>连接登录成功数</th>
                <th>连接成功率</th>
                <th>创角率</th>
                <th>创角数</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <script type="text/javascript">
        $(function(){
            $('.datepicker').datepicker({maxDate:0});
        });



    </script>