<tr>
    <td ><input type="button"  class="gbutton" value="添加充值档次" id="addgrade" num = 0 /></td>
    <td>
    	<script type="text/javascript" src="templates/activity/activity_1004.js"></script>
    </td>
</tr>