<tr>
    <td style="width: 150px;">活动开启等级</td>
    <td>
    	<input type="text" name="openLvl" value = "1" style="width: 200px;">
    </td>
</tr>

<tr>
    <td ><input type="button"  class="gbutton" value="添加" id="addgrade" num = 0 /></td>
    <td>
    	<script type="text/javascript" src="templates/activity/activity_1002.js"></script>
    </td>
</tr>