<tr>
    <td>dailyTask</td>
    <td>[[1,1,20],[2,10,2],[3,10,3],[6,10,2],[7,10,2],[8,10,2],[11,10,3]]</td>    
</tr>

<tr>
    <td>limitTask</td>
    <td>[[4,10,1],[5,2,10],[6,10,1],[7,10,1],[8,10,1]]</td>
</tr>

<tr>
    <td>operation</td>
    <td>[[1,3,50],[2,5,5]]</td>
</tr>

<tr>
    <td style="width:150px;">
        <input type="button" value="添加条件" class="gbutton c-add-reward" add_amount_num="1">
        <script type="text/javascript" src="templates/activity/activity_1007.js"></script>
    </td>
    <td>
        <table style="width:100%;" class="table-activity-reward">
            <thead>
                <tr>
                    <th style="width:80px;">条件</th>
                    <th>奖励</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody class="body-item">
                <tr>
                    <td style="width:100px;">
                        <input type="text" class="amount" name="amount[1]" value="" placeholder="嗨点">
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="itemTable">
                                            <thead>
                                                <tr>
                                                    <td>物品ID</td>
                                                    <td>数量</td>
                                                    <td>角色</td>
                                                    <td>操作</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="button" value="添加物品条件" class="gbutton c-additem" add_amount_num="1">
                    </td>
                    <td>
                        <input type="button" value="删除该条件" class="gbutton delitem">
                        <input type="button" value="复制该条件" class="gbutton c-copy-reward">
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>