<tr>
    <td style="width: 150px;">购买价格</td>
    <td>
    	<input type="text" name="amount" value = "" style="width: 200px;">
    </td>
</tr>

<tr>
    <td style="width: 150px;">活动开启等级</td>
    <td>
        <input type="text" name="openLvl" value = "1" style="width: 200px;">
        <script type="text/javascript" src="templates/activity/activity_1008.js"></script>
    </td>
</tr>

<tr>
    <td>奖励配置</td>
    <td>
        <table style="width:100%;" class="table-activity-reward">
            <thead>
            <tr>
                <th>奖励</th>
            </tr>
            </thead>
            <tbody class="body-item">
            <tr>
                <td>
                    <table>
                    <tbody>
                    <tr>
                        <td>
                            <table class="itemTable">
                            <thead>
                                <tr>
                                    <td>物品ID</td>
                                    <td>数量</td>
                                    <td>权重</td>
                                    <td>角色</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            
                            <tbody>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    <input type="button" value="添加物品条件" class="gbutton c-additem" add_item_num="0" add_amount_num="0" add_grade_num="1">
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>

