<tr>
    <td style="width: 150px;">类型</td>
    <td>
    	<input type="text" name="form" value = "1" style="width: 200px;">
    </td>
</tr>

<tr>
    <td style="width: 150px;">短述</td>
    <td>
        <input type="text" name="shortDesc" value = "" style="width: 200px;">
    </td>
</tr>

<tr>
    <td style="width: 150px;">描述</td>
    <td>
        <textarea rows="10" cols="100" name="description"></textarea>
    </td>
</tr>


<tr>
    <td style="width: 150px;">等级</td>
    <td>
        <input type="text" name="level" value = "" style="width: 200px;">
    </td>
</tr>


<tr>
    <td style="width: 150px;">iconId</td>
    <td>
        <input type="text" name="iconId" value = "3990040000004" class="item_id" style="width: 200px;">
    </td>
</tr>


<tr>
    <td style="width: 150px;">物品ID</td>
    <td>
        <input type="text" name="itemId" value = "3990040000004" class="item_id" style="width: 200px;">
    </td>
</tr>



<tr>
    <td style="width: 150px;">开启时间</td>
    <td>
        <input type="text" name="open_hour" value="">
        <label>时</label>
        <input type="text" name="open_min" value="">
        <label>分</label>
    </td>
</tr>

<tr>
    <td style="width: 150px;">关闭时间</td>
    <td>
        <input type="text" name="close_hour" value="">
        <label>时</label>
        <input type="text" name="close_min" value="">
        <label>分</label>
    </td>
</tr>


<tr>
    <td style="width: 150px;">倍数</td>
    <td>
       <input type="text" name="value" value=1> 
       <label>（1=2倍，2=3倍，最高9=10倍</label>
    </td>
</tr>



