<div id="usergroup_tabs" class="itabs">
  <ul>
    <li><a href="admin.php?ctrl=usergroup&act=groups">用户组列表</a></li>
  </ul>
  <div id="tabs-1"> </div>
</div>
<script type="text/javascript">
var $usergroup_tabs = $("#usergroup_tabs").tabs();
</script>