<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<input type="button" class="gbutton" name="supplement" value="补单" id = "supplement">
</div>

<script type="text/javascript">
	$(function(){
		$("#supplement").click(function(){
			$.post('admin.php?ctrl=supplement&act=recode' , '' , function(data){
				$.dialog.tips(data);
			})
		});
	})
</script>