/* nav导航 */
#nav{  background: url("images/nav_bg.png") repeat-x scroll 0 0 transparent;}
/* jquery ui 顶部样式 */
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/jquery-ui-bg_highlight-soft.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
/* jquery ui tab hover */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }
/* submit等按钮 */
.gbutton, .gbutton:visited {
	border: none;
	background: #222 url(images/overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background-color: #505c75;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.gbutton:hover{ background-color: #3a3f49; color: #fff;}
.gbutton:active{ top: 1px; }
.gbutton:disabled{ color:#969696;}
/* 返回顶部 */
#top-back{position:fixed; right:40px; width:54px; height:54px; bottom: 40px; display: none;*position:absolute;*top:expression(eval(documentElement.scrollTop+document.documentElement.offsetHeight-54)); cursor:pointer; z-index:3009;
background:url('images/gototop.png') 0 0 no-repeat;
}
#top-back:hover{
	background:url('images/gototop_hover.png') 0 0 no-repeat;
}