<div id="agent_tabs" class="itabs ui-tabs ui-widget ui-widget-content ui-corner-all" style="padding-bottom:20px;">
    <div id="times_chart"><{$times_chart}></div>
    <div id="gold_chart"><{$gold_chart}></div>
</div>