<table>
    <tr>
        <td>时间</td>
        <td>注册数</td>
        
    </tr>
    <{foreach from=$data key=key item=item}>
    <tr>
        <td><{$key}></td>
        <td><{$item}></td>
    </tr>
    <{/foreach}>
</table>