<table>
    <tr>
        <td>时间</td>
        <td>创角数</td>
        <td>创角设备数</td>
        
    </tr>
    <{foreach from=$data key=key item=item}>
    <tr>
        <td><{$key}></td>
        <td><{$item.rolelist}></td>
        <td><{$item.accountlist}></td>
    </tr>
    <{/foreach}>
</table>